.btn {
  height: 36px;
  width: 100%;
  left: 0px;
  border-radius: 200px !important;
  padding: 6px, 16px, 6px, 16px;
  text-transform: uppercase;
}

.btn-main {
  background: #333333 !important;
  color: white !important;
}

.btn-secondary {
  color: #333333 !important;
}

.btn-secondary:hover {
  background: #33333315 !important;
}

.Mui-disabled { opacity: 0.5 ; }

.margin {
  margin-top:32px;
}

.btn:hover {
  opacity: 0.95;
}

