.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-option {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000033;
  border-radius: 4px;
  align-items: center;
  margin-top: 16px;
}

.radio-option:hover {
  background: #699CF108;
  cursor: pointer;
}

.radio-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.radio-option-big {
  padding: 16px;
  height:56px;
}


.radio-option-small {
  height: 40px;
  width: 47%;
  box-shadow: 0px 3px 6px rgba(29, 29, 27, 0.06);
  gap: 8px !important;
}

.icon-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-image: url('../../assets/linearShape.svg');
  background-repeat: no-repeat;
}

.icon-big svg {
  width: 32px;
  height: 32px;
}

.icon-small svg {
  color: #333333;
}

.icon-small {
  width: 24px;
  height: 24px;
  
}

.question-text {
  padding: 0;
  flex-grow: 4;
}

.question-text p, h3 {
  margin-top: 4px;
}

.question-text-big {
  margin-top: 18px;
  padding-left: 8px
}

.question-text-big h3 {
  margin-block-end: 0;
}

.question-text-small p {
  display: none;
}

.question-text-small h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.active {
  border: 1px solid #699CF1;
  border-radius: 4px;
  background-clip: padding-box;
}

.active::after {
  border: 1px solid #699CF1
}

svg {
  color: #333333
}

.active svg {
  color: #2971EB
}

.MuiRadio-root {
  height: 36px ;
}

